body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.hero {
    background-color: #1F2937;
    height: 500px;
    margin: 0px;
    padding: 0px;
}

.header {
    display:flex;
    justify-content: space-between;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 80px;
}

a {
    text-decoration: none;
    color:#E5E7EB;
    margin-left: 16px;
    font-size: 18px;
}

.links {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.herobody {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 96px;
}

.herotext {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.heromain {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.herosecondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 8px;
    margin-bottom: 8px;
}

.herobutton {
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3882F6;
    max-width: 96px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 8px;
    border: none;
}

.heroimage {
    display: flex;
    height: 225px;
    width: 500px;
    background-color: darkslategray;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infomain {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 48px;
    margin-bottom: 48px;
}

.box {
    width: 164px;
    height: 164px;
    background-color: white;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.boxes {
    display:flex;
    gap:96px;
}

.subtexts {
    display: flex;
    gap: 102px;
    margin-top: 8px;
    margin-bottom: 128px;
}

.subtext {
    color: #1F2937;
    width: 164px;
    text-align: center;
}

.quotesection {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding: 128px;
    margin: 0px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    width: 775px;
}

.author {
    font-weight: bold;
    color: #1F2937;
    font-size: 18px;
    align-self: flex-end;
    margin-right: 475px;
}

.ctatext{
    display: flex;
    flex-direction: column;
}

.calltoaction {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 125px;
    margin-bottom: 125px;
    height: 200px;
    gap: 200px;
    flex:0 0 auto;
}

.ctahead {
    font-weight: bold;
    color:white;
    font-size: 26px;
}

.ctasub {
    color:#E5E7EB;
    font-size: 20px;
}

.ctabutton {
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3882F6;
    width: 150px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    font-size: 18px;
    flex:0 0 auto;
}

.footer {
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 36px;
    flex:0 0 auto;
}